*.pkl filter=lfs diff=lfs merge=lfs -text
*.csv filter=lfs diff=lfs merge=lfs -text
Automated-Resume-Ranking-System-main/csvfiles/GeneralCV_Example.csv filter=lfs diff=lfs merge=lfs -text
Automated-Resume-Ranking-System-main/Contacts/model/rf_model.pkl filter=lfs diff=lfs merge=lfs -text
NLPResumeRankingAutomatedSystem/model/rf_model.pkl filter=lfs diff=lfs merge=lfs -text
NLPResumeRankingAutomatedSystem/datasets/General_Data_CV.csv filter=lfs diff=lfs merge=lfs -text
NLPResumeRankingAutomatedSystem/datasets/labeled_dataset.csv filter=lfs diff=lfs merge=lfs -text
NLPResumeRankingAutomatedSystem/embeddings/cv_embeddings.npy filter=lfs diff=lfs merge=lfs -text
NLPResumeRankingAutomatedSystem/embeddings/jd_embeddings.npy filter=lfs diff=lfs merge=lfs -text
